<!DOCTYPE html>
<html>
<head>
	<title>Extract Title, Text, and Image from URL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<style type="text/css">
    body {
      padding-top:60px;
      padding-bottom: 60px;
    }
  </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TextExtraction</a>
        </div>
        
    </div>
  </div>

<div id="main" class="container">
	<div class="col-lg-4">
    	<input type="url" id="url" name="url"  class="form-control" placeholder="Url you want to parse" required>
  	</div>
	<input type="submit" value="Extract" id="submitUrl" class="btn btn-success">
	
</div>
<div id="loading" style="display:none;" class="container">
    <img src="/static/images/loader.gif" alt="Please wait.." />
</div>

<div id="result" class="container">
	
</div>

<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript">
	$("#submitUrl").on("click", function(event){
		$("#result").empty();
		event.preventDefault();
		$('#loading').show();
		var url = $("#url").val()
		$.get('/api/v1/extract?url='+url,function(result){
		    $('#loading').hide(); 
			$("#result").append("<h4>"+result.title+"</h4>");
			$("#result").append("<img src='"+result.image+"' height='300' width='300'</img>");
			$("#result").append("<p class='lead'>"+result.text+"</p>");
	})


	});
	
</script>
</body>
</html>